{% extends 'pedidos/base.html' %}
{% block conteudo %}
<form action="{% url 'pedidos' %}" method="post">
  {% csrf_token %}
  <div style="text-align: center;" class="container">
    <h1>Cadastro de Pedidos de Vendas</h1>
    Data da venda <input name="data_da_venda" class="form-control-sm" type="text">
    Cliente <input name="cliente" class="form-control-sm" type="text">
    Produto <input name="produto" class="form-control-sm" type="text">
    Quantidade <input name="quantidade" class="form-control-sm" type="text">
    Valor de venda <input name="valor_de_venda" class="form-control-sm" type="text">
    Taxas <input name="taxas" class="form-control-sm" type="text">
    Valor liquido <input name="valor_liquido" class="form-control-sm" type="text">
    Prazo <input name="prazo" class="form-control-sm" type="text">
    Canal de venda <input name="canal_de_venda" class="form-control-sm" type="text">
    Codigo de rastreio <input name="codigo_de_rastreio" class="form-control-sm" type="text">
    <button class="form-control-sm">Enviar</button>
  </div>
</form>
{% endblock %}